@font-face {
    font-family: "BurbankBig";
    src: url("https://cdn.discordapp.com/attachments/826117697498251307/826144561793204224/BurbankBigCondensed-Black.otf");
}

@font-face {
    font-family: "BurbankBig";
    font-weight: 400;
    src: url("https://cdn.discordapp.com/attachments/826117697498251307/826144561793204224/BurbankBigCondensed-Black.otf");
}

@font-face {
    font-family: "BurbankBig";
    font-weight: 400;
    src: url("https://cdn.discordapp.com/attachments/826117697498251307/826144561793204224/BurbankBigCondensed-Black.otf");
}

@font-face {
    font-family: "BurbankBig";
    font-weight: 700;
    src: url("https://cdn.discordapp.com/attachments/826117697498251307/826144561793204224/BurbankBigCondensed-Black.otf");
}
